body {
    background-color: #fffbf7;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    color: #025157;
}


.text {
    color: #46484c;
}

.text-gray {
    color: #8b8b8bcc;
}

button {
    background-color: #025157;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: pointer;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 999;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
}

.header >* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    vertical-align: middle;
}

@media (max-width:468px) {
    .header > .navbar,.acciones {
        display: none;
    }

    .imagen {
        width: 50%;
    }
}

li {
    display: inline;
    margin: 0 25px;
    color: #025157;
}

.imagen {
    width: 15%;
}

.imagen > img {
    width: 15%;
}

.navbar {
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.navbar ul {
    padding: 0;
    height: 45px;
}

.acciones {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.acciones >* {
    margin: 10px 0;
}

.acciones a {
    color: #67b54b;
}

.acciones button {
    color: #FFF;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
}

.main {
    margin-top: 200px;
    text-align: center;
}

.main h1 {
    color: #025157;
    font-size: 60px;
}

@media (max-width:468px) {
    .main {
        margin-top: 100px;
    }
    
    .main h1 {
        font-size: 30px;
    }
}

.banner img{
    width: 100%;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    gap: 30px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video img {
    margin-top: 10px;
    width: 8%;
}

.parrafo {
    color: #343434;
}

@media (max-width:770px) {
    .promo {
        flex-direction: column;
    }
}

@media (max-width:468px) {
    .promo {
        flex-direction: column;
    }

    .promo video {
        max-width: 90%;
    }
}

.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2,1fr);
    gap: 30px;
    height: 660px;
    background-color: #025157;
    padding: 5% 10%;
}

.feature-card {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    overflow: hidden;
}

.feature-content {
    text-align: start;
    width: 60%;
}

.feature-content img {
    display: block;
    margin: 0 auto;
    width: 20%;
}

.feature-content p {
    margin: 0;
    color: #46484c;
}

.feature-content a {
    text-decoration: none;
    color: #67b54b;
}

.example-img {
    width: 40%;
    height: 100%;
    position: relative;
}

.example-img img {
    display: block;
    width: 80%;
    position: absolute;
    right: -45px;
    top: 8%;
}

@media (max-width:468px) {
    .features {
        grid-template: repeat(1, 1fr) / repeat(1,1fr);
        height: auto;
    }
}

.marcas {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto-marcas {
    flex: 2 1 0%;
    padding-right: 80px;
}

@media (max-width:770px) {
    .texto-marcas {
        padding-right: 20px;
    }
}

.texto-marcas h2 {
    font-size: 45px;
    line-height: 61px;
    color: #025157;
}

.texto-marcas p {
    color: #343434;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.texto-marcas img {
    width: 500px;
    max-width: 100%;
}

.historia {
    flex: 1 1 0%;
}

.card {
    width: 100%;
    max-width: 370px;
    border-radius: 10px;
    background-color: #fff;
}

.marca-imgs {
    position: relative;
}

.marca {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marca img {
    max-width: 75%;
    width: 100%;
    max-height: 16vw;
}


@media (max-width:468px) {
    .marcas {
        flex-direction: column;
    }

    .texto-marcas {
        padding: 0;
        margin-bottom: 50px;
    }
}

.media {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width:468px) {
    .media {
        max-height: 100%;
    }
}

.cuerpo {
    padding: 20px;
    flex: 1 1 auto;
}

.cuerpo h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.carrito {
    display: flex;
    align-items: center;
    color: #828282;
}

.carrito img {
    width: 26px;
    margin-right: 20px;
}

.historia-footer {
    margin-bottom: 20px;
    padding: 25px;
}

.carousel-indicators {
    position: unset;
}

.how-does-it-works {
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
}

.description {
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
}

.description a {
    color: #67b54b;
    text-decoration: none;
}

.steps {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width:770px) {
    .steps {
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
    }
}

@media (max-width:468px) {
    .steps {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

.steps .card-step {
    background-color: #FFF;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 0 20px;
    text-align: left;
}

.card-step .card-step-image {
    position: relative;
    height: 350px;
}

.card-step .card-step-image .card-step-bg {
    width: 100%;
    height: 100%;
}

.card-step .card-step-image .card-step-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
}

.card-step .card-step-body {
    padding: 25px;
}

.card-step .card-step-body h3{
    font-size: 30px;
    line-height: 36px;
    color: #025157;
    font-weight: 400;
    text-align: center;
}

.card-step .card-step-body p {
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
    margin-bottom: 16px;
}

.card-step .card-step-body a {
    font-size: 16px;
    line-height: 1.4;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}