body {
    background-color: #fffbf7;
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
}

h1 {
    color: #025157;
}

.text {
    color: #46484c;
}

.promocional {
    color: #8b8b8bcc;
}

button {
    background-color: #025157;
    color: #fff;
    border: none;
}


.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
}

.header >* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    vertical-align: middle;
}

li {
    display: inline;
    margin: 0 25px;
    color: #025157;
}

.imagen {
    width: 15%;
}

.imagen > img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.navbar ul {
    padding: 0;
    height: 45px;
}

.acciones {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.acciones >* {
    margin: 10px 0;
}

.acciones a {
    color: #67b54b;
}

.acciones button {
    color: #FFF;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
}

.main {
    margin-top: 140px;
    text-align: center;
}