body {
    background-color: #fffbf7;
    text-align: center;
}

h1 {
    color: #025157;
}

.text {
    color: #46484c;
}

.promocional {
    color: #8b8b8bcc;
}

button {
    background-color: #025157;
    color: #fff;
    border: none;
}


.header {
    margin: 40px 20px 20px 0;
    font-size: 0;
}

.header >* {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 4.5rem;
    height: 100%;
    vertical-align: middle;
}

li {
    display: inline;
}

.imagen {
    width: 15%;
}

.imagen > img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.navbar ul {
    padding: 0;
}

.acciones {
    width: 15%;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;
}

.main {
    margin-top: 140px;
    text-align: center;
}