body {
    background-color: #fffbf7;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    color: #025157;
}

.text {
    color: #46484c;
}

.text-gray {
    color: #8b8b8bcc;
}

button {
    background-color: #025157;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 999;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
}

.header >* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    vertical-align: middle;
}

li {
    display: inline;
    margin: 0 25px;
    color: #025157;
}

.imagen {
    width: 15%;
}

.imagen > img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.navbar ul {
    padding: 0;
    height: 45px;
}

.acciones {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.acciones >* {
    margin: 10px 0;
}

.acciones a {
    color: #67b54b;
}

.acciones button {
    color: #FFF;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
}

.main {
    margin-top: 200px;
    text-align: center;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    gap: 30px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video img {
    margin-top: 10px;
    width: 8%;
}

.parrafo {
    color: #343434;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.marcas {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto-marcas {
    flex: 2 1 0%;
    padding-right: 80px;
}

.texto-marcas h2 {
    font-size: 45px;
    line-height: 61px;
    color: #025157;
}

.texto-marcas p {
    color: #343434;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.texto-marcas img {
    width: 500px;
    max-width: 100%;
}

.historia {
    flex: 1 1 0%;
}

.card {
    width: 100%;
    max-width: 370px;
    border-radius: 10px;
    background-color: #fff;
}

.marca-imgs {
    position: relative;
}

.marca {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marca img {
    max-width: 75%;
    width: 100%;
    max-height: 16vw;
}

.media {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cuerpo {
    padding: 25px;
    flex: 1 1 auto;
}

.cuerpo h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.carrito {
    display: flex;
    align-items: center;
    color: #828282;
}

.carrito img {
    width: 26px;
    margin-right: 20px;
}

.historia-footer {
    margin-bottom: 20px;
    padding: 25px;
}